.card {
	outline: 1px solid #F8F8F8;
}

.card .card-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-header {
	font-family: 'Maven Pro';
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
