#homepage-banner {
	width: 100%;
  background-image: url("../../app/img/header_banner_resize.png")
  background-size: cover
	display: flex;
	flex-direction: row;
	justify-content: center
}

#homepage-banner .column-24 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
