<div class="grid-container">
  <div class="column-24">
    <h1 class="sub-nav-title text-white">GIS Mainpage</h1>
    <form method="GET" class="right" action="/search/">
      <div class="search-bar right">
        <input type='search' placeholder='Search'>
        <button type="submit" class="search-submit icon-ui-search"></button>
      </div>
    </form>
    <div class="phone-show dropdown column-6 trailer-half js-dropdown-toggle">
      <!-- <a href="#" class="link-white">3 &darr;</a> -->
      <nav class="dropdown-menu js-dropdown sidenav" role="navigation" aria-labelledby="subnav">
        <a class="sub-nav-link map-viewer-tab" href="/#gisportal/mapviewer">Map Viewer</a>
        <a class="sub-nav-link web-apps-tab" href="/#gisportal/apps">Web Apps</a>
        <a  class="sub-nav-link browse-tab" href="/#gisportal/browse">Browse Data</a>
      </nav>
    </div>

    <nav class="sub-nav-list phone-hide" role="navigation" aria-labelledby="subnav">
      <a class="sub-nav-link map-viewer-tab" href="/#gisportal/mapviewer">Map Viewer</a>
      <a class="sub-nav-link web-apps-tab" href="/#gisportal/apps">Web Apps</a>
      <a class="sub-nav-link browse-tab" href="/#gisportal/browse">Browse Data</a>
    </nav>

  </div>
</div>
